<mat-drawer-container class="container" autosize>
	<mat-drawer #drawer class="sidenav">
        <img src="https://cdn.iconscout.com/icon/free/png-256/account-profile-avatar-man-circle-round-user-30452.png" alt="">
        <button color="primary" mat-button routerLink="/"><mat-icon>home</mat-icon> Home</button>
		<!-- <button color="primary" mat-button routerLink="/customers"><mat-icon>people</mat-icon> Customers</button>
		<button color="primary" mat-button routerLink="/products"><mat-icon>category</mat-icon> Products</button>
		<button color="primary" mat-button routerLink="/transactions"><mat-icon>list</mat-icon> Transactions</button>
		<button color="primary" mat-button routerLink="/reports"><mat-icon>report</mat-icon> Reports</button> -->
		<button color="primary" mat-button><mat-icon>power_settings_new</mat-icon> Logout</button>
	</mat-drawer>
	<div class="sidenav-content">
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<button mat-icon-button (click)="drawer.toggle()">
					<mat-icon>menu</mat-icon>
				</button>
				<span style="width: 100%;text-align:center"> Notes App </span>
				<span class="spacer"></span>
				<mat-icon>favorite</mat-icon>
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item>
						<mat-icon>share</mat-icon>
						<span>Share</span>
					</button>
					<button mat-menu-item>
						<mat-icon>comment</mat-icon>
						<span>Comment</span>
					</button>
					<button mat-menu-item>
						<mat-icon>delete</mat-icon>
						<span>Delete</span>
					</button>
				</mat-menu>
			</mat-toolbar-row>
		</mat-toolbar>
		<router-outlet></router-outlet>
		<footer>&copy; Notes App </footer>
	</div>
</mat-drawer-container>